body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url(back2.jpg);
    -moz-background-size: 100%;
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%;
    color: white;
}
.container {
    width: 1357px;
    margin: auto;
    margin-left: 233px;
    display:flex;
}

.leftside{
    width: 55%;
}
.rightside {
    width:45%
}


.menu{
    list-style-type: none;
    font-size: 37px;
    padding: 4px;
    margin: auto;
    margin-top: 104px;
}

.menu li{
    display: inline; 
    padding-right: 74px; 
}


.menu > li > a{
    color: white;
    text-decoration: none;
}
.menu > li > a:hover{
    color: rgb(67,187,371);
}
#com{
    padding-right: 0px !important;
}

.name{
    font-size: 70px;
    line-height: 80px;
    font-weight: 600;
    margin: auto;
    margin-top: 82px;
    margin-left: 325px;
    margin-right: 0px;
}

.lower{
    margin-left: 48px;
}
.lower_word{
    margin-left: 48px;
    font-weight:600;
}
.upper_word{
    font-weight:600;
}

.maint_up {
    width: 1357px;
    margin-left: 233px;
    display:flex;
}


.leftside_main{
    width: 63%;
}

.rightside_main{
    display: flex;
}

.stick{
    width: 285px;
    height: 5px;
    background-color: white;
}

.site{
    font-size: 65px;
    margin-top: 15px;
    margin-left: 345px;
}

.lower_word{
    margin-left: 50px;
}

.name_main{
    font-size: 31px;
    margin-top: 110px;
}

.back{
    width: 1920px !important;
    height: 420px !important;
    margin-top: 5px;
    background: rgba(02, 164, 255, 0.25);
    display: flex;
}


.Copy {
    margin-top: 43px;
    font-size: 31px;
    text-align: center;
}

.photos {
    width: 1357px;
    margin-left: 233px;
    margin-right:281px;
    display:flex;
    position:relative;
}
.block2 {
    margin-left:30px;
    width:34%;
}
.block1 > img{
    width:390px;
    height:390px;
}
.block1 {
    margin-top:15px;
    width:33%;
}
.block3 {
    width: 33%;
    margin-top:15px;
}
.block3 > img{
    width:346px;
    height:390px;
    position:absolute;
    right:0px;
}
.middleimage {
    margin-left:38px;
    margin-top:15px;
    width:390px ;
    height:390px ;
}
.middleimage >img {
    width:390px ;
    height:390px ;
}