body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url(back3.jpg);
    -moz-background-size: 100%;
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%;
    color: white;
}
.container {
    width: 1357px;
    margin: auto;
    margin-left: 233px;
    display:flex;
}

.leftside{
    width: 55%;
}
.rightside {
    width:45%
}


.menu{
    list-style-type: none;
    font-size: 37px;
    padding: 4px;
    margin: auto;
    margin-top: 104px;
}

.menu li{
    display: inline; 
    padding-right: 74px; 
}


.menu > li > a{
    color: white;
    text-decoration: none;
}
.menu > li > a:hover{
    color: rgb(67,187,249);
}

#com{
    padding-right: 0px !important;
}

.name{
    font-size: 70px;
    line-height: 80px;
    font-weight: 600;
    margin: auto;
    margin-top: 82px;
    margin-left: 325px;
    margin-right: 0px;
}
.lower{
    margin-left: 48px;
}
.lower_word{
    margin-left: 48px;
    font-weight:600;
}
.upper_word{
    font-weight:600;
}

.maint_up {
    width: 1357px;
    margin-left: 233px;
    display:flex;
}


.leftside_main{
    width: 63%;
}

.rightside_main{
    display: flex;
}

.stick{
    width: 285px;
    height: 5px;
    background-color: white;
}

.site{
    font-size: 65px;
    margin-top: 15px;
    margin-left: 345px;
}

.lower_word{
    margin-left: 50px;
}

.name_main{
    font-size: 31px;
    margin-top: 110px;
}
.secondmain {
    width: 1357px;
    margin-left: 233px;
    display:flex;
}
.images > a{
    font-size: 38px;
    text-decoration: none;
    color:white;
}
.images > a > img{
    margin-bottom:10px;
    margin-right: 17px;
}
.images > a {
    height:42px;
}
.leftsecondmain, .rightsecondmain{
    width: 50%;
}
.rightsecondmain {
    position:relative;
}
.rightsecondmain > p{
    font-size: 38px;
    position:absolute;
    bottom:0;
    right:0;
}
.Copy {
    margin-top: 135px;
    font-size: 31px;
    text-align: center;
}
