body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url(back1.jpg);
    -moz-background-size: 100%;
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%;
    color: white;
}
.container {
    width: 1357px;
    margin: auto;
    margin-left: 233px;
    display:flex;
}

.leftside{
    width: 55%;
}
.rightside {
    width:45%
}

.menu{
    list-style-type: none;
    font-size: 37px;
    padding: 4px;
    margin: auto;
    margin-top: 104px;
}

.menu li{
    display: inline; 
    padding-right: 74px; 
}


.menu > li > a{
    color: white;
    text-decoration: none;
}
.menu > li > a:hover{
    color: rgb(67,187,249);
}

#com{
    padding-right: 0px !important;
}

.name{
    font-size: 70px;
    line-height: 80px;
    font-weight: 600;
    margin: auto;
    margin-top: 82px;
    margin-left: 325px;
    margin-right: 0px;
}
.lower{
    margin-left: 48px;
}
.lower_word{
    margin-left: 48px;
    font-weight:600;
}
.upper_word{
    font-weight:600;
}

.maint_up {
    width: 1357px;
    margin-left: 233px;
    display:flex;
}


.leftside_main{
    width: 63%;
}

.rightside_main{
    display: flex;
}

.stick{
    width: 285px;
    height: 5px;
    background-color: white;
}

.site{
    font-size: 65px;
    margin-top: 15px;
    margin-left: 345px;
}

.lower_word{
    margin-left: 50px;
}

.name_main{
    font-size: 31px;
    margin-top: 110px;
}

.back{
    width: 1920px !important;
    height: 343px !important;
    margin-top: 5px;
    background: rgba(196, 196, 196, 0.3);
    display: flex;
}

.left_main_text{
    width: 50%;
}

.main_text{
    font-size: 35px;
    line-height: 40px;
    margin-top: 40px;
    margin-left: 237px;
}

.stickY{
    height: 304px;
    width: 5px;
    background-color: white;
    margin-top: 21px;
}

.main_text_r{
    font-size: 39px;
    line-height: 45px;
    text-align: right;
    margin-top: 41px;
    margin-left: 85px;
}

.lowwer_text{
    font-size: 31px;
    position: absolute;
    right: 0;
    margin-right: 330px;
    margin-top: 21px;
}
.Copy {
    margin-top: 90px;
    font-size: 31px;
    text-align: center;
}
.time {
    font-size: 31px;
    margin-left:62%;
}